__tests__/
.buckconfig
.flowconfig
.gitattributes
.watchmanconfig
babel.config.js
index.android.js
package-lock.json

android/
icons/
ios/
functions/
.gitignore
.firebaserc
.firebase.json
.idea/
apiConfig.js